script(src='js/vendor/modernizr-2.6.2.min.js')
script(src='js/vendor/css3-mediaqueries.js')
script(src='js/vendor/jquery-1.9.0.min.js')
script(src='js/vendor/jquery-ui-1.10.1.custom.min.js')
script(src='js/plugins.js')
script(src='js/main.js')