link(rel='stylesheet', href='/css/normalize.min.css')
link(rel='stylesheet', href='/css/1140.css')
link(rel='stylesheet', href='/css/font-awesome.min.css')
link(rel='stylesheet', href='/css/main.css')
link(rel='shortcut icon', href='/img/favicon.png')