extends layout

block content
	.container_12
		.grid_9
			.article-summary
				.article-summary-data
					span.score-badge 43
					h4.title
						a(href='#').viewer-link Analytical aspects of Brownian motor effect in randomly flashing ratchets
					.clearfix
					span.authors.line
						a(href='#') Dmitry Vorotnikov
					| <br>
					span.date.line June 2012
					|	in 
					span.field.line
						a(href='#') Astrophysics
					|	&raquo; 
					span.topics.line
						a(href='#') High Energy Astrophysical Phenomena
					| <br>
					span.actions.line
						a(href='#').preview-link Preview abstract
						|  &middot; 
						a(href='#') Full text
						|  &middot; 
						a(href='#') Details 
						i.icon-external-link
				span.article-summary-stats
					span
						i.icon-bookmark
						|  133 
					span
						i.icon-edit
						|  42 
				.clearfix
				.abstract
					p The muscle contraction, operation of ATP synthase, maintaining the shape of a cell are believed to be secured by motor proteins, which can be modelled using the Brownian ratchet mechanism. We consider the randomly ﬂashing ratchet model of a Brownian motor, where the particles can be in two states, only one of which is sensitive the applied spatially periodic potential (the mathematical setting is a pair of weakly coupled reactiondiffusion and Fokker-Planck equations).
			.topbar
				a(href='http://google.com/') Full text <hr>
				a(href='#').discussion-link.active Discussion <hr>
				a(href='#').reviews-link Reviews <hr>
			.clearfix
			include reviews
			include discussion
		.grid_3
			.activity-sidebar
				h3 Recent activity
				ol.activity-list
					li
						a(href='#')
							i.icon-file-alt
							span.action  Published 
							span.article Analytical aspects of Brownian motor effect in randomly flashing ratchets
					li
						a(href='#')
							i.icon-edit
							span.action  Reviewed 
							span.article Gravitational Lensing of Neutrino from Collapsars
					li
						a(href='#')
							i.icon-bullhorn
							span.action  Reacted to  
							span.article Parallel Local Search: Experiments with a PGAS-based programming model
					li
						a(href='#')
							i.icon-edit
							span.action  Reviewed 
							span.article The effects of nutrient chemotaxis on bacterial aggregation patterns with non-linear degenerate cross diffusion