ol.discussion
	li
		.author
			h3.name Slavoj Zizek
		.clearfix
		.text
			p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
		ol
			li
				.comment-depth
				.comment-content
					.author
						h3.name Tony Chen
					.clearfix
					.text
						p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut.
				.clearfix
				ol
					li
						.comment-depth
						.comment-content
							.author
								h3.name Tony Chen
							.clearfix
							.text
								p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut.
					ol
						li
							.comment-depth
							.comment-content
								.author
									h3.name Tony Chen
								.clearfix
								.text
									p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut.
							ol
								li
									.comment-depth
									.comment-content
										.author
											h3.name Tony Chen
										.clearfix
										.text
											p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut.
						li
							.comment-depth
							.comment-content
								.author
									h3.name Tony Chen
								.clearfix
								.text
									p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut.
						li
							.comment-depth
							.comment-content
								.author
									h3.name Tony Chen
								.clearfix
								.text
									p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut.