extends layout

block content
	.container_12
		.grid_9
			.topbar
				a(href='#').active Top <hr>
				a(href='#') New <hr>
				a(href='#') Controversial <hr>
			.clearfix
			ol.item-list
				li
					.item-content
						h4.title
							a(href='#').viewer-link Analytical aspects of Brownian motor effect in randomly flashing ratchets
						span.authors
							a(href='#') Dmitry Vorotnikov
						| <br>
						span.date June 2012
						|	in 
						span.field
							a(href='#') Astrophysics
						|	&raquo; 
						span.topics
							a(href='#') High Energy Astrophysical Phenomena
						| <br>
						a(href='#').preview-link Preview abstract
						|  &middot; 
						a(href='#') Full text
						|  &middot; 
						a(href='#') Details 
						i.icon-external-link
					span.stats
						span
							i.icon-bookmark
							| 133
						span
							i.icon-edit
							|	42
					.clearfix
					.abstract
						p The muscle contraction, operation of ATP synthase, maintaining the shape of a cell are believed to be secured by motor proteins, which can be modelled using the Brownian ratchet mechanism. We consider the randomly ﬂashing ratchet model of a Brownian motor, where the particles can be in two states, only one of which is sensitive the applied spatially periodic potential (the mathematical setting is a pair of weakly coupled reactiondiﬀusion and Fokker-Planck equations).
				li
					.item-content
						h4.title
							a(href='#').viewer-link Analytical aspects of Brownian motor effect in randomly flashing ratchets
						span.authors
							a(href='#') Dmitry Vorotnikov
						| <br>
						span.date June 2012
						|	in 
						span.field
							a(href='#') Astrophysics
						|	&raquo; 
						span.topics
							a(href='#') High Energy Astrophysical Phenomena
						| <br>
						a(href='#').preview-link Preview abstract
						|  &middot; 
						a(href='#') Full text
						|  &middot; 
						a(href='#') Details 
						i.icon-external-link
					span.stats
						span
							i.icon-bookmark
							| 133
						span
							i.icon-edit
							|	42
					.clearfix
					.abstract
						p The muscle contraction, operation of ATP synthase, maintaining the shape of a cell are believed to be secured by motor proteins, which can be modelled using the Brownian ratchet mechanism. We consider the randomly ﬂashing ratchet model of a Brownian motor, where the particles can be in two states, only one of which is sensitive the applied spatially periodic potential (the mathematical setting is a pair of weakly coupled reactiondiﬀusion and Fokker-Planck equations).
				li
					.item-content
						h4.title
							a(href='#').viewer-link Analytical aspects of Brownian motor effect in randomly flashing ratchets
						span.authors
							a(href='#') Dmitry Vorotnikov
						| <br>
						span.date June 2012
						|	in 
						span.field
							a(href='#') Astrophysics
						|	&raquo; 
						span.topics
							a(href='#') High Energy Astrophysical Phenomena
						| <br>
						a(href='#').preview-link Preview abstract
						|  &middot; 
						a(href='#') Full text
						|  &middot; 
						a(href='#') Details 
						i.icon-external-link
					span.stats
						span
							i.icon-bookmark
							| 133
						span
							i.icon-edit
							|	42
					.clearfix
					.abstract
						p The muscle contraction, operation of ATP synthase, maintaining the shape of a cell are believed to be secured by motor proteins, which can be modelled using the Brownian ratchet mechanism. We consider the randomly ﬂashing ratchet model of a Brownian motor, where the particles can be in two states, only one of which is sensitive the applied spatially periodic potential (the mathematical setting is a pair of weakly coupled reactiondiﬀusion and Fokker-Planck equations).
		.grid_3
			.search-tools
				h2 Refine Search